
.photo {
margin: 20px;

}
.heading {
color: brown;
text-align: center;
}
.App {
 border: 10cm;
 background-color: aqua;
display: inline-block;
padding: 10px;
border-radius: 20px;
}

.button {
border-radius: 5%;
background-color:pink;

}
.text {
 font-display:auto;
 font-family: Arial, Helvetica, sans-serif;
 font-size: small;
}